<!-- Your Django template file, e.g., my_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Data Capture Confirmation</title>
</head>
<body>
    <h1>Face Data Capture Confirmation</h1>


    <div id="liveFeed">
        <img src="{% url 'webcam_streamcheck' %}" alt="webcam_stream_for_recognition" width="640" height="480">
    </div>


<div>Today attended
    <ul id="attendedList"></ul>

    </div>
    <script>
        


        let attendedStudentData = null;

            function show_attended_student(){
                
                console.log("function called")

                fetch('{% url 'show_attended_student'  %}')
                    .then(response => response.json())
                    .then(data => {
                        attendedStudentData = data["data"];
                        x=data["data"]
                        {% comment %} document.getElementById('attendedContainer').innerText = JSON.stringify(x); {% endcomment %}
                        console.log(JSON.stringify(data))
                        updateList()
    
                    })
                    .catch(error => console.error('Error:', error));
            }

            function updateList() {

                console.log("update function")
                if (attendedStudentData !== null) {
                    // Clear the existing list
                    let listcont = document.getElementById('attendedList');
                    
                    if (listcont !== null) {
                        while (listcont.firstChild) {
                            listcont.removeChild(listcont.firstChild);
                        }
                            Object.keys(attendedStudentData).forEach(key => {
                            let listItem = document.createElement('li');
                            listItem.innerText = `${key}: ${attendedStudentData[key]}`;
                            {% comment %} attendedList.appendChild(listItem); {% endcomment %}
                            listcont.appendChild(listItem);
                         });}
                         else {
                            console.error('Element with ID "attendedList" not found.');}
            }
                
            }
            document.addEventListener('DOMContentLoaded', function() {
                var attContainer = document.createElement('div');
                attContainer.id = 'attended_div';
                var listcont = document.createElement('ul');
                listcont.id = 'attendedList';
                attContainer.appendChild(listcont);
                console.log("createddddddddddddddddd")
                show_attended_student();
            });
        setInterval(show_attended_student, 2000); 



    </script>
</body>
</html>
