<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <!-- Add any CSS styles for your loading page here -->
    <style>
        body {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Model has been trained</h1>
   <script>

    setTimeout(function () {
        window.location.href = "{% url 'home' %}";
    }, 5000)   </script> 

</body>
</html>
